<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-suite-initializer" parallel="false" thread-count="1">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
        <listener class-name="org.wso2.identity.integration.test.listeners.IdentityTestListener"/>
    </listeners>

    <test name="is-tests-initialize" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.IdentityServerTestSuitInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.base.TomcatInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.base.LDAPServerInitializerTestCase"/>
        </classes>
    </test>

    <!--Disabling since the WS-Trust functionality is provided as a connector and it does not exist in the product by default.-->
    <!--<test name="is-tests-default-configuration-sts" preserve-order="true" parallel="false" group-by-instances="true">-->
        <!--&lt;!&ndash; Active sts test case needs to run before passive sts test case&ndash;&gt;-->
        <!--<classes>-->
            <!--<class name="org.wso2.identity.integration.test.sts.ActiveSTSTestCase"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="is-tests-scim2" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.identity.integration.test.scim2.SCIM2PaginationTestCase"/>
            <class name="org.wso2.identity.integration.test.scim2.SCIM2UserTestCase"/>
            <class name="org.wso2.identity.integration.test.scim2.SCIM2GroupTestCase"/>
            <class name="org.wso2.identity.integration.test.scim2.SCIM2RoleTestCase"/>
            <class name="org.wso2.identity.integration.test.scim2.SCIM2MeTestCase"/>
            <class name="org.wso2.identity.integration.test.scim2.SCIM2MultiAttributeUserFilterTestCase"/>
            <class name="org.wso2.identity.integration.test.scim2.rest.api.SCIMUserUpdateTest"/>
            <class name="org.wso2.identity.integration.test.scim2.rest.api.SCIM2SchemasTest"/>
            <class name="org.wso2.identity.integration.test.scim2.rest.api.customSchema.SCIM2CustomSchemaUserTestCase"/>
            <class name="org.wso2.identity.integration.test.scim2.rest.api.customSchema.SCIM2CustomSchemaMeTestCase"/>
        </classes>
    </test>

    <test name="is-test-adaptive-authentication" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.auth.AdaptiveScriptInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.auth.AdaptiveScriptTemporaryClaimPersistenceTestCase"/>
            <class name="org.wso2.identity.integration.test.auth.SecondaryStoreUserLoginTestCase"/>
            <!-- This test has a restart-->
            <class name="org.wso2.identity.integration.test.auth.RiskBasedLoginTestCase" />
        </classes>
    </test>

    <test name="is-tests-default-configuration-ldap" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.base.LDAPUserStoreInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.ReadWriteLdapBasedUserMgtTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.ReadWriteLDAPUserStoreManagerTestCase"/>
        </classes>
    </test>

    <test name="is-tests-uuid-user-store" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <!-- This initializer test should run before running other tests. This will copy the relevant services that
                 needs to run the new test cases.-->
            <class name="org.wso2.identity.integration.test.user.mgt.uuid.UUIDUserManagerInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.uuid.ReadWriteLDAPUUIDUMTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.uuid.JDBCUUIDUMTestCase"/>
        </classes>
    </test>

    <!--
    ====================================================================================================================
        IMPORTANT : All the tests below this section, should be the ones that requires additional Identity Server
        instance.

        To minimize the number of restarts, at each test, additional instance is started before all the tests in the
        below tag and stopped at the end.
    ====================================================================================================================
    -->
</suite>
