<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-suite-initializer" parallel="false" thread-count="1">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
        <listener class-name="org.wso2.identity.integration.test.listeners.IdentityTestListener"/>
    </listeners>

    <test name="is-tests-federation" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.base.SecondaryCarbonServerInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.sts.TestPassiveSTSFederation"/>
            <!--TODO: Temporary disabled ConditionalAuthenticationTestCase. Enable after fixing the issues. -->
            <!--<class name="org.wso2.identity.integration.test.auth.ConditionalAuthenticationTestCase" />-->
            <class name="org.wso2.identity.integration.test.provisioning.ProvisioningTestCase"/>
            <class name="org.wso2.identity.integration.test.workflow.mgt.WorkflowManagementTestCase"/>
            <class name="org.wso2.identity.integration.test.oidc.OIDCIdentityFederationTestCase"/>
            <class name="org.wso2.identity.integration.test.provisioning.JustInTimeProvisioningTestCase"/>
            <class name="org.wso2.identity.integration.test.oidc.OIDCFederatedIdpInitLogoutTest"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2TokenExchangeGrantTypeTestCase" />
        </classes>
    </test>

    <!--
    ====================================================================================================================
        IMPORTANT : All the tests below this section, should be the ones that requires configuration changes and
        restarts.

        To minimize the number of restarts, at each test, do the configuration update and restart. Then do the test
        and finally restore the configuration without restarting. The next test will perform the restart with the
        configuration changes required for it.

        If multiple tests can be run with one configuration change, group them into a test group and do the above at
        @BeforeTest, and @AfterTest. See 'is-tests-jdbc-userstore' for example.
    ====================================================================================================================
    -->

    <test name="is-tests-federation-restart" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.base.SecondaryCarbonServerInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLFederationWithFileBasedSPAndIDPTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.ChangeACSUrlTestCase"/>
        </classes>
    </test>
    <test name="is-tests-jdbc-userstore" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.base.JDBCUserStoreInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.JDBCBasedUserMgtTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.JDBCUserStoreManagerTestCase"/>
        </classes>
    </test>
    <test name="is-tests-read-only-userstore" preserve-order="true" parallel="false" group-by-instances="true" >
        <classes>
            <class name="org.wso2.identity.integration.test.base.ReadOnlyUserStoreInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.scim2.rest.api.SCIMUserUpdateReadOnlyTest"/>
            <class name="org.wso2.identity.integration.test.user.mgt.ReadOnlyLDAPUserStoreManagerTestCase"/>
        </classes>
    </test>
    <test name="is-tests-oauth-jwt-token-gen-enabled" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2ServiceAuthCodeGrantOpenIdRequestObjectTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2ServiceAuthCodeGrantOpenIdTestCase"/>
        </classes>
    </test>
    <test name="is-tests-email-username" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.user.mgt.CARBON15051EmailLoginTestCase"/>
        </classes>
    </test>
    <test name="is-tests-with-individual-configuration-changes" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.application.mgt.ServiceProviderUserRoleValidationTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.RegistryMountTestCase"/>
            <class name="org.wso2.identity.integration.test.provisioning.DBSeperationTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2ServiceAuthCodeGrantTestCase"/>
            <class name="org.wso2.identity.integration.test.oidc.OIDCFileBasedSkipLoginConsentTestCase"/>
            <class name="org.wso2.identity.integration.test.scim.IDENTITY4776SCIMServiceWithOAuthTestCase" />
            <class name="org.wso2.identity.integration.test.identity.mgt.UserInformationRecoveryServiceTenantEmailUserTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.Oauth2HashAlgorithmTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.Oauth2PersistenceProcessorInsertTokenTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.Oauth2PersistenceProcessorTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2ServiceJWTGrantTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.Oauth2TokenRenewalPerRequestTestCase"/>
            <class name="org.wso2.identity.integration.test.oidc.OIDCPasswordGrantTest"/>
            <!--<class name="org.wso2.identity.integration.test.saml.SAMLECPSSOTestCase"/>-->
            <class name="org.wso2.identity.integration.test.user.profile.mgt.UserProfileAdminTestCase"/>
            <class name="org.wso2.identity.integration.test.identity.mgt.AccountLockWhileCaseInsensitiveUserFalseTestCase"/>
            <class name="org.wso2.identity.integration.test.EmailOTPTestCase"/>
            <class name="org.wso2.identity.integration.test.rest.api.user.liteUserRegister.LiteUserRegisterTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2TokenScopeValidatorTestCase" />
            <class name="org.wso2.identity.integration.test.saml.SAMLSSOForAdminLoginTestCase"/>
        </classes>
    </test>

    <test name="is-tests-saml-query-profile" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.saml.SAMLQueryProfileTestBase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLQueryProfileTestCase"/>
        </classes>
    </test>
    <test name="is-tests-default-encryption" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.encryption.EventPublisherPasswordEncryptionTestCase"/>
        </classes>
    </test>
</suite>
