<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-suite-initializer" parallel="false" thread-count="1">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
        <listener class-name="org.wso2.identity.integration.test.listeners.IdentityTestListener"/>
    </listeners>

    <!--Disabling since the WS-Trust functionality is provided as a connector and it does not exist in the product by default.-->
    <!--<test name="is-tests-default-configuration-sts" preserve-order="true" parallel="false" group-by-instances="true">-->
        <!--&lt;!&ndash; Active sts test case needs to run before passive sts test case&ndash;&gt;-->
        <!--<classes>-->
            <!--<class name="org.wso2.identity.integration.test.sts.ActiveSTSTestCase"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="is-tests-default-configuration" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>

            <class name="org.wso2.identity.integration.test.oauth2.OAuth2RequestObjectSignatureValidationTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2IDTokenEncryptionTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2TokenRevokeWithInvalidClientCredentialsTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2ServiceErrorResponseTest"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuthAdminServiceTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2ServiceRefreshTokenGrantTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2RoleClaimTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2ScopesTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2XACMLScopeValidatorTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.PermissionBasedScopeValidatorTestCase"/>
            <class name="org.wso2.identity.integration.test.oidc.OIDCAuthzCodeIdTokenValidationTestCase"/>
            <class name="org.wso2.identity.integration.test.oidc.OIDCSPWiseSkipLoginConsentTestCase"/>

            <class name="org.wso2.identity.integration.test.oauth2.consented.token.OAuth2ServiceAuthCodeGrantJWTAccessTokenWithConsentedTokenColumnTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.consented.token.OAuth2ServicePasswordGrantJWTAccessTokenWithConsentedTokenColumnTestCase"/>

            <!--TODO Remove following open id tests since deprecated-->
            <class name="org.wso2.identity.integration.test.openid.OpenIDAuthenticationTestCase" />
            <class name="org.wso2.identity.integration.test.openid.OpenIDProviderServerConfigTestCase" />
            <class name="org.wso2.identity.integration.test.openid.OpenIDRPManagementTestCase"/>
            <!--TODO End of openid tests-->
    </classes>
    </test>
</suite>
